src/environment/vim/vim/plugged/*

# There is a bug on the pandoc project that will no longer generate the pandoc, I am source controling it to be able to recover the file that works
!src/environment/vim/vim/plugged/vim-pandoc/
!src/environment/vim/vim/plugged/vim-pandoc-syntax/

src/environment/vim/vim/.netrwhist
src/environment/vim/vim/bin/
src/environment/vim/vim/doc/
src/environment/vim/vim/plugin/
src/environment/vim/vim/.netrwbook
src/environment/tmux/tmux/plugins/*
!src/environment/tmux/tmux/plugins/tpm/
src/environment/tmux/tmux/resurrect
src/environment/marvim/.mv7
src/environment/marvim/.mvt
