[submodule "dot_folders/vim/bundle/YouCompleteMe"]
	path = dot_folders/vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "dot_folders/vim/bundle/nerdtree"]
	path = dot_folders/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
